.userCard {
    width: 450px;
    height: 260px;
    margin: 10px;
    border-radius: 20px;
    background-color: #5746EA;
    display: flex;
    font-family: "Roboto", sans-serif;
}

.vectorImg {
    display: flex;
    align-items: center;
    width: 150px;
}

.vectorImg img {
    height: 240px;
    padding: 10px;
}

.userDetails {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;

}

.selectedCategory {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.item {
    padding: 3px;
    background-color: #9F94FF;
    border: 1px solid #9F94FF;
    border-radius: 50px;
    text-align: center;
    width: 80px;
}