.weather {
  width: 434px;
  height: 130px;
  background: #101744;
  margin: 10px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.dateTime {
  background: #FF4ADE;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  
}

.weatherData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  padding-top: 23px;

}

.icon {
  width: 20px;
  height: 20px;

}